<article class="getglue post stream-article" data-datetime="{{ posted_at }}">

	<div>

		<div class="user">
			<a class="thumbnail" href="{{ attribution.href }}"><img src="{{ attribution.thumbnail }}" alt="{{ attribution.name }}" /></a>
			<a href="{{ attribution.href }}">{{ attribution.name }}</a>
		</div>

		<p>{{{ data.quote.text }}}</p>

		<time>{{ human_posted_at }}</time>

		<span class="ss-getglue ss-social"></span>

	</div>

</article>